/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #ED1C24; }
.My-Color-Theme-2-hex { color: #A3171C; }
.My-Color-Theme-3-hex { color: #9A258D; }
.My-Color-Theme-4-hex { color: #E2CB81; }
.My-Color-Theme-5-hex { color: #000000; }

.container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
}
  
.sidebar {
    width: 200px;
    background-color: #ffffff;
    border-right: 1px solid #A3171C;
}

.sidebar img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
  
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.sidebar li {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
  
.sidebar li a {
    text-decoration: none;
    color: #9A258D; 
    padding: 10px;
    transition: 0.3s;
}

.sidebar li a:hover {
    background-color: #A3171C;
    color: #E2CB81;
    border-radius: 5px;
    transition: 0.3s;
}
  
.content {
    flex: 1;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.content h1 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 0px;
    font-family: 'Bebas Neue', sans-serif;
}

.content h2 {
    color: #ED1C24;
}
  
.content em {
    display: block;
    text-align: center;
    font-style: italic;
    margin-bottom: 60px;
    font-family: 'Inconsolata', monospace;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #9A258D;
    color: #E2CB81;
    text-decoration: none;
    display: none;
    font-family: 'Montserrat', sans-serif;
}
  
.back-to-top:hover {
    background-color: #A3171C;
}

a {
    color: #9A258D;
    text-decoration: none;
}